<div *ngIf="!gameFinished" class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="row justify-content-end">
      <div class="col-md-6 text-center">
        <h3>Mines: {{remainingMines}}</h3>
      </div>
      <div class="col-md-3 text-right">
        <button class="btn btn-link" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="gameFinished" class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="row justify-content-end">
      <div class="col-md-6 text-center">
        <h3>{{gameResultMessage}}</h3>
      </div>
      <div class="col-md-3 text-right">
        <button class="btn btn-link" (click)="goHome()">Home</button>
      </div>
    </div>
  </div>
</div>

<app-board (gameWon)="onGameWon()" (updateRemainingMines)="updateRemainingMines($event)" (gameLosed)="onGameLosed()"></app-board>
