 <div  class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="row justify-content-end">
          <div class="col-md-6 text-center">
              <h3>Finished matches</h3>
          </div>
          <div class="col-md-3 text-right">
          <button class="btn btn-link" (click)="goBack()">Back</button>
        </div>
        </div>
      </div>
    </div>


<div class="row justify-content-md-center">
  <div class="col-md-8">
    <div class="table-responsive">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Difficulty</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Total time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let match of matches">
            <td>{{match.difficulty}}</td>
            <td>{{match.startTime | date:'yyyy-MM-dd HH:mm a'}}</td>
            <td>{{match.endTime | date:'yyyy-MM-dd HH:mm a'}}</td>
            <td>{{match.totalTime}}</td>
            <td>{{match.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
