
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="assets/mine_icon.png">

  <a class="display-5 text-white" href="#"><h5>Minesweep</h5></a>

</nav>
<div class="container mt-5">
<router-outlet></router-outlet>
</div>
