<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="row justify-content-end">
      <div class="col-md-6 text-center">
          <h3>Select a difficulty</h3>
      </div>
      <div class="col-md-3 text-right">
      <button class="btn btn-link" (click)="goBack()">Back</button>
    </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-6 text-center">
    <button type="button button-pointer" (click)="difficultySelected(0)" class="btn btn-block btn-success">EASY</button>
    <button type="button button-pointer" (click)="difficultySelected(1)" class="btn btn-block btn-warning">MEDIUM</button>
    <button type="button button-pointer" (click)="difficultySelected(2)" class="btn btn-block btn-danger">HARD</button>

    <form class="form-inline" [formGroup]="formCustom" (submit)="setCustomDifficulty()" novalidate>

      <div class="form-row">
        <div class="col-md-3 align-self-center">Custom</div>

        <div class="form-group col-md-2">
          <label for="rows">Rows</label>
          <input class="form-control col-md-10" type="number" id="rows" formControlName="rows">
        </div>

        <div class="form-group col-md-2">
          <label for="columns">Columns</label>
          <input class="form-control col-md-10" type="number" id="columns" formControlName="columns">
        </div>

        <div class="form-group col-md-2">
          <label for="mines">Mines</label>
          <input class="form-control col-md-10" type="number" id="mines" formControlName="mines">
        </div>

        <div class="col-md-2 align-self-end">
          <button class="btn btn-primary" [disabled]="!formCustom.valid" type="submit">Start</button>
        </div>

      </div>
    </form>
  </div>
</div>
