<div class="row justify-content-md-center" *ngFor="let row of board" >
        <div class="col-auto m-0 p-0  position-relative" (click)="tileOnClick(col, $event)"  (contextmenu)="tileOnRightClick(col, $event)"  *ngFor="let col of row">
              <img class="" [src]="getImageResource(col)">
              <div class="position-absolute w-100" style="top: 20%; left: 40%;">
              <span *ngIf="col.touched && !col.isAMine">{{col.numberOfMines}}</span>
              </div>
        </div>
</div>
