<div class="row justify-content-md-center">
  <div class="col-md-6 ">
      <button type="button button-pointer" routerLink="/setup" class="btn btn-dark btn-block">NEW GAME</button>
      <button type="button button-pointer" routerLink="/scores" class="btn btn-dark btn-block">FINISHED MATCHES</button>
  </div>
</div>
